---
const title = "Kontakt";

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout title={title}>
  <script>
    const kontaktForma = document.querySelector("#kontakt") as HTMLFormElement;

    kontaktForma.addEventListener("submit", procKontakt);
    async function procKontakt(e) {
      e.preventDefault();
      const kontaktButton = document.querySelector("#kontaktButton");

      kontaktButton.textContent = "Šaljem...";
      const data = new FormData(kontaktForma);
      try {
        const res = await fetch(
          `https://cms.udrugamisija.hr/api/contact-messages`,
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(Object.fromEntries(data)),
          }
        ).then((res) => res.json());
        kontaktForma.reset();
        kontaktButton.textContent = "Pošalji";

        const successMessage = document.createElement("p");
        successMessage.classList.add("success");
        successMessage.textContent =
          "Hvala na poruci! Potruditi ćemo se odgovoriti u najbržem mogućem roku.";
        kontaktForma.appendChild(successMessage);
      } catch (error) {
        kontaktButton.textContent = "Pošalji";

        console.log(`Došlo je do pogreške! `, error);
        const errorMessage = document.createElement("p");
        errorMessage.classList.add("error");
        errorMessage.textContent = "Slanje nije uspjelo!";
        kontaktForma.appendChild(errorMessage);
      }
    }
  </script>

  <Hero title={title} />
  <main>
    <form class="kontakt" id="kontakt">
      <label for="name">Vaše ime

        <input type="text" name="name" id="kontaktIme" required />
      </label>
      <label for="email">Vaša e-mail adresa

        <input type="email" name="email" id="kontaktEmail" required />
      </label>
      <label for="sadrzaj">Poruka

        <textarea
        name="message"
        id="kontaktSadrzaj"
        required
        placeholder="Pohvale, kritike, prijedlozi..."></textarea>
      </label>
      <button id="kontaktButton" type="submit">Pošalji</button>
    </form>
  </main>
</MainLayout>

<style>

  form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-400);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-000);
    padding: var(--padding-400);
  }
  label {
    display: flex;
    flex-direction: column;
    gap: var(--gap-200);
  }
  input, textarea {
    padding: var(--padding-100);
  }
  button {
    font-size: var(--fontsize-600);
    padding: var(--padding-100);
    background-color: var(--color-highlight);
    color: var(--color-neutral-000);
    border: none;
    border-radius: var(--borderradius-button);
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
</style>