---
const title = 'Novosti'

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";

const res = await fetch("https://cms.udrugamisija.hr/api/posts")
const posts = await res.json()
---
<MainLayout title={title}>
<Hero title={title} />

<main>
    {posts.docs.map((post) => (

        <div><a href={`novosti/${post.id}`}>{post.title}</a></div>

    ))}
</main>
</MainLayout>
