---
const title = "Projekti i aktivnosti";

import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout title={title}>
  <Hero
    title={title}
    subtitle={"MiSiJa iza sebe ima brojne projekte i aktivnosti."}
  />
  <h2>Projekti</h2>
  <h2>Aktivnosti</h2>
</MainLayout>
