<footer>
  <nav>
    <ul>
      <li><a href="/onama">O nama</a></li>
      <li>
        <a href="/projekti-i-aktivnosti"
          >Projekti i aktivnosti</a
        >
      </li>
      <li><a href="/novosti">Novosti</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
      <li>
        <a href="https://www.facebook.com/udrugamisija/"
          ><img src="/images/icons/facebook.png" alt="Facebook Logo" /></a
        ><a href="https://www.instagram.com/udrugamisija/"
          ><img src="/images/icons/instagram.png" alt="Instagram logo" /></a>
      </li>
    </ul>
  </nav>
</footer>

<style>
  footer {
    padding: 1rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
</style>