---
import logo from '../images/branding/MiSiJa-logo.png'

---
<header>
  <nav>
    <a href="/"><img src={logo} alt="Logo udruge MiSiJa"></a>
    <ul>
      <li><a href="/onama">O nama</a></li>
      <li>
        <a href="/projekti-i-aktivnosti"
          >Projekti i aktivnosti</a>
      </li>
      <li><a href="/novosti">Novosti</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    max-width: 100px;
  }
  ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-200);
  }
  a {
    text-decoration: none;
    font-weight: var(--fontweight-600);
    text-transform: uppercase;
    color: var(--color-neutral-900);
  }
  li a:hover {
    border-bottom: 2px solid var(--color-highlight)
  }

  @media screen and (min-width: 768px) {
    nav, ul {
      flex-direction: row;
    }
  }
</style>