---
const { list1, list2, list3, list4 } = Astro.props;
const listItems = [list1, list2, list3, list4];

---

<ul>
  {
    listItems.map((item) => (
      <li>
        <img src={item.image} alt={item.alt} />
        <p>{item.text}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-400);
  }
  li {
    display: flex;
    align-items: center;
    gap: var(--gap-200);
  }
  li:nth-child(2n + 2) {
    flex-direction: row-reverse;
  }
  li img {
    max-width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--borderradius-image);
  }
  @media screen and (min-width: 768px) {
    li {
      max-width: 600px;
    }
    li img {
      max-width: 300px;
    }

    li p {
      font-size: var(--fontsize-600);
    }
  }

  
</style>
